/* line 1, ../scss/flex-05.scss */
section {
  padding: 0.2rem 0 0.8rem;
  width: 15rem;
  margin: 0 auto;
}
/* line 7, ../scss/flex-05.scss */
section aside ul li {
  height: 120px;
  background: #FFF;
  margin: 0.2rem 0.1rem 0 0;
}
/* line 16, ../scss/flex-05.scss */
section aside.aside-2 ul li {
  margin: 0.2rem 0 0 0.1rem;
}
